.adminDashboard {
  margin: 2rem;
  border-style: solid;
  border-width: 3px;
  border-color: antiquewhite;
}

.welcomeDiv {
  color: azure;
  text-align: center;
  line-height: 10em;
  background-color: #1c46b8;
  display: flexbox;
}

.adminDashboard TabPanel {
    text-align: center;
}

.countyDiv {
  display: flex;
}

.adminDashboard .row {
  margin-bottom: 0.3rem;
}

.adminDashboard #submit {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 1rem;
  text-align: center;
}

.adminDashboard input[type="text"],
select,
textarea {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.adminDashboard input[type="date"] {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}