.home {
  text-align: center;
}

h1 {
  font-size: 50px;
  color: #ffffff;
  text-align: center;
}

.home h1 {
  margin-top: 100px;
}

.home button {
  margin: 2rem;
  font-size: large;
}

.siteInfo {
  display: flex;
  justify-content: space-around;

  /* position: relative;
    left: -400px; */
  /* padding: 34%;
    padding-top: 5pt;
    padding-bottom: 10pt;
    text-align: left;
    font-size: larger; */
}

.image1 {
  width: auto;
  height: 350px;
  margin: 50px 150px auto 0px;
  border-radius: 10px;

  /* position: relative; */
  /* left: 250px;
    padding: 30%;
    padding-top: 5pt;
    padding-bottom: 5pt; */
}

.content {
  margin: 70px 80px auto 150px;
  font-size: 20px;
  text-align: left;
  color: #ffffff9f;
}

.home button {
  margin: 50px 0px;
  padding: 15px 75px;
  border-radius: 5px;
  text-decoration: none;
  color: #e91e63;
  /* background-color: black; */
  border: 0px;
  font-size: 20px;
}

.home button:hover {
  background-color: #421ca8;
  transition: background-color 2s;
  color: #ffffff !important;
}

